<div
	id="ficha-requisicion"
	class="pixvs-theme-listado page-layout carded fullwidth inner-scroll"
>

	<!-- TOP BACKGROUND -->
	<div class="top-bg accent"></div>
	<!-- / TOP BACKGROUND -->

	<!-- CENTER -->
	<div class="center">

		<!-- HEADER -->
		<ficha-crud
			*ngIf="config"
			[historial]="historial"
			[config]="config"
			[isGuardadoPersonalizado]="true"
			[isEnviarPersonalizado]="true"
			(output)="guardar()"
			(outputEnviar)="guardar(true)"
			[mostrarAprobar]="pageType == 'alerta'"
            [mostrarRechazar]="pageType == 'alerta'"
            [ocultarGuardar]="pageType == 'alerta'"
			[mostrarBorrar]="puedeEditar"
			[mostrarEditar]="puedeEditar"
			[mostrarEnviar]="puedeEditar"
			[titulo]="titulo"
			[subTituloTraduccion]="pageType"
			[form]="form"
			[currentId]="currentId"
			[pageType]="pageType"
			[dataService]="_requisicionService"
			[listadoAcciones]="acciones"
			(onActionClicked)="onActionClicked($event)"
			class="header accent"
			fxLayout="column"
			fxLayoutAlign="center center"
			fxLayout.gt-sm="row"
			fxLayoutAlign.gt-sm="space-between center"
		>
		</ficha-crud>
		<!-- / HEADER -->

		<!-- CONTENT CARD -->
		<div class="content-card">
			<mat-progress-bar
				*ngIf="_requisicionService?.cargando"
				[color]="'primary'"
				[mode]="'query'"
			>
			</mat-progress-bar>

			<div style="height: 0px;">
				<button
					debounceClick
					mat-mini-fab
					class="boton-refresh"
					(debounceClick)="recargar()"
					matTooltip="{{ 'INTERFAZ.RECARGAR' | translate  }}"
				>
					<mat-icon class="s-16">refresh</mat-icon>
				</button>
			</div>

			<!-- CONTENT -->
			<div class="content">

				<form
					focusInvalidInput
					name="form"
					id="form"
					[formGroup]="form"
					class="product w-100-p"
					fxLayout="column"
					fxFlex
				>

					<mat-tab-group>

						<mat-tab label="Datos Generales">

							<div
								class="tab-content p-24"
								fusePerfectScrollbar
							>

								<div
									fxLayout="row wrap"
									fxLayoutGap="20px grid"
								>
									<div
										fxLayout="column"
										fxFlex="100"
										fxFlex.gt-sm="100"
										fxFlex.gt-md="100"
									>

										<div
											fxLayout="row wrap"
											fxLayoutAlign="start center"
											fxLayoutGap="10px grid"
										>
											<pixvs-mat-select [matSelectCtrl]="almacenControl" [datos]="almacenes"
												[appearance]="'outline'"
												[matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
												[campoValor]="['sucursal.nombre','nombre']" [label]="'Sede - Almacén'" [required]="isRequired('almacen')"
												[seleccionarUnicaOpcion]="!requisicion?.id"
												fxFlex="1 0 auto">
											</pixvs-mat-select>
											
											<pixvs-mat-select [matSelectCtrl]="departamentoControl" [datos]="departamentos"
												[appearance]="'outline'"
												[matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
												[campoValor]="'nombre'" [label]="'Departamento'" [required]="isRequired('departamento')"
												[seleccionarUnicaOpcion]="!requisicion?.id"
												fxFlex="1 0 auto">
											</pixvs-mat-select>

											<mat-form-field
												appearance="outline"
												floatLabel="auto"
												fxFlex="1 0 auto"
											>
												<mat-label>Estado requisición</mat-label>
												<input
													type="text"
													matInput
													[value]="requisicion.estadoRequisicion?.valor || 'En edición'"
													readonly="true"
												>
											</mat-form-field>

											<mat-form-field
												appearance="outline"
												floatLabel="auto"
												fxFlex="1 0 auto"
											>
												<mat-label>Fecha</mat-label>
												<input
													matInput
													[matDatepicker]="fecha"
													name="fecha"
													formControlName="fecha"
													disabled
												>
												<mat-datepicker-toggle
													matSuffix
													[for]="fecha"
												>
												</mat-datepicker-toggle>
												<mat-datepicker
													#fecha
													disabled="true"
												></mat-datepicker>
											</mat-form-field>
										</div>

										<div
											fxLayout="row wrap"
											fxLayoutAlign="start center"
											fxLayoutGap="10px grid"
										>
											<pixvs-tabla-detalles class="w-100-p"
												[detalles]="requisicion?.partidas"
												[localeEN]="localeEN"
												[localeES]="localeES"
												[columnas]="columnasTablaArticulos"
												[columnasFechas]="columnasFechasTablaArticulos"
												[displayedColumns]="form?.enabled ? displayedColumnsTablaArticulos : displayedColumnsTablaArticulosDisabled"
												[listadoAcciones]="listadoAccionesArticulos"
												[reordenamiento]="false"
												[columnaId]="'id'"
												[mostrarBotonAgregar]="form?.enabled"
												(onSeleccionarRegistro)="onEditarArticulo($event)"
												(onNuevoRegistro)="onNuevoArticulo()"
											></pixvs-tabla-detalles>
										</div>

										<div
											fxLayout="row wrap"
											fxLayoutAlign="start center"
											fxLayoutGap="10px grid"
										>
											<mat-form-field
												appearance="outline"
												floatLabel="auto"
												fxFlex="1 0 auto"
											>
												<mat-label>Comentarios</mat-label>
												<textarea
													type="text"
													matInput
													name="comentarios"
													formControlName="comentarios"
													required="{{ isRequired('comentarios') }}"
												></textarea>
												<mat-error *ngIf="(!!form.get('comentarios').errors)">
													{{validatorService.getMessage(form.get('comentarios'))}}
												</mat-error>
											</mat-form-field>
										</div>

										<!-- <div
											fxLayout="row wrap"
											fxLayoutAlign="start center"
											fxLayoutGap="10px grid"
										>
											<div class="px-20 py-12" style="border: solid 2px; border-radius: 1rem;">{{ form?.controls['comentarios']?.value }}</div>
										</div> -->



									</div>


								</div>


							</div>

						</mat-tab>

					</mat-tab-group>

				</form>


			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CONTENT CARD -->


	</div>
	<!-- / CENTER -->
</div>

<div id="print-section">
	<div fxLayout="column" class="w-100-p">
		<div fxLayout="row">
			<div fxFlex="25%" class="px-20">
				<img src="/app/main/img/logos/logo_reportes.png">
			</div>
			<div fxFlex="50%" fxLayout="row" fxLayoutAlign="center start">
				<span style="font-size: xx-large; color: #888888">Requisición de compra</span>
			</div>
			<div fxFlex="25%" fxLayout="row" fxLayoutAlign="end start">
				<span style="font-size: larger; color: #888888">{{ fechaActual | date : 'dd/MM/yyyy'}}</span>
			</div>
		</div>
		<div fxLayout="row">
			<div fxLayout="column" fxFlex="auto" class="pr-12">
				<span class="text-nowrap font-weight-900">Código de requisición:</span>
				<span class="text-nowrap font-weight-900">Fecha requisición:</span>
				<span class="text-nowrap font-weight-900">Sede:</span>
				<span class="text-nowrap font-weight-900">Departamento:</span>
				<span class="text-nowrap font-weight-900">Solicitó:</span>
			</div>
			<div fxLayout="column" fxFlex="fill">
				<span>Pre-impresión</span>
				<span>{{ (requisicion?.fecha || fechaActual) | date : 'dd/MM/yyyy'}}</span>
				<span>{{ almacenControl?.value?.sucursal?.nombre }}</span>
				<span>{{ departamentoControl?.value?.nombre }}</span>
				<span>{{ requisicion?.creadoPor?.nombreCompleto || usuarioActual?.nombreCompleto }}</span>
			</div>
		</div>
		<div fxLayout="row" class="pt-12">
			<table class="tabla-imprimir w-100-p">
				<thead>
					<tr>
						<th class="font-weight-900 w-80 text-center" rowspan="2">N° Partida</th>
						<th class="font-weight-900" >Código</th>
						<th class="font-weight-900 w-120 text-center"  rowspan="2">UM</th>
						<th class="font-weight-900 w-120 text-center"  rowspan="2">Cant. requerida</th>
						<th class="font-weight-900 w-120 text-center"  rowspan="2">Fecha requerida</th>
					</tr>
					<tr>
						<th class="font-weight-900">Descripción</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let partida of (requisicion?.partidas || []) ; index as i">
						<tr>
							<td class="text-center" rowspan="2">{{i+1}}</td>
							<td class="no-border">{{ partida.articulo.codigoArticulo }} - {{partidas?.comentarios}}</td>
							<td class="text-center" rowspan="2">{{ partida.unidadMedida.nombre }}</td>
							<td class="text-center" rowspan="2">{{ partida.cantidadRequerida }}</td>
							<td class="text-center" rowspan="2">{{ partida.fechaRequerida | date : 'dd/MM/yyyy' }}</td>
						</tr>
						<tr>
							<td>{{ partida.articulo.nombreArticulo }}</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</div>
		<div fxFlex="fill"></div>
		<div><span class="font-weight-900">Comentarios generales</span></div>
		<div class="px-20 py-12" style="border: solid 2px; border-radius: 1rem">{{ form?.controls['comentarios']?.value }}</div>
		<div fxLayout="row" fxLayoutAlign="space-around end" class="pt-80">
			<div fxFlex="200px" fxLayout="column">
				<div class="divisor" fxLayout="row" fxLayoutAlign="center center">{{ requisicion?.creadoPor?.nombreCompleto || usuarioActual?.nombreCompleto }}</div>
				<div fxLayout="row" fxLayoutAlign="center center"><span class="font-weight-900">Solicitó</span></div>
			</div>
		</div>
	</div>
</div>

<button #printBtn type="button" [useExistingCss]="true" printSectionId="print-section" ngxPrint class="d-none"></button>