<h1 mat-dialog-title>Restricciones</h1>
<div mat-dialog-content *ngIf="form">
	<form name="form" id="form" [formGroup]="form" class="product w-100-p h-200" fxLayout="column" fxFlex>
		<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
			<div *ngFor="let restriccion of data?.data?.rolMenuPermisos || []; let i = index" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center" class="pb-4">
				<mat-checkbox color="primary" 
                    [formControl]="form.controls['control_'+i]" 
                    (change)="toggleCheckbox($event.checked, i)">
					{{restriccion.nombrePermiso}}
				</mat-checkbox>
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions align="end">
	<button mat-raised-button class="mat-accent mr-16" (click)="aceptar()">Aceptar</button>
</div>