<pixvs-bloqueo-pantalla [style.z-index]="10000" *ngIf="_pedidoService?.cargando"></pixvs-bloqueo-pantalla>

<div id="pedido" class="page-layout carded left-sidebar fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <ficha-crud *ngIf="config" [config]="config" [cargando]="_pedidoService?.cargando" [isGuardadoPersonalizado]="true" [isEnviarPersonalizado]="true" (output)="guardar()" (outputEnviar)="enviar()" [mostrarAprobar]="pageType == 'alerta'" [mostrarRechazar]="pageType == 'alerta'"
            [ocultarGuardar]="pageType == 'alerta'" [mostrarBorrar]="pedido?.id && pedido?.estatusId == 2000260" [mostrarEditar]="pedido?.id && pedido?.estatusId == 2000260" [mostrarEnviar]="(!pedido?.id || pedido?.estatusId == 2000260) && pageType != 'alerta'"
            [titulo]="titulo" [subTituloTraduccion]="pageType == 'nuevo' ? pageType : null" [form]="form" [currentId]="currentId" [pageType]="pageType" [dataService]="_pedidoService" [historial]="historial" class="header accent" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
        </ficha-crud>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card p-0">
            <mat-progress-bar *ngIf="_pedidoService?.cargando" [color]="'primary'" [mode]="'query'">
            </mat-progress-bar>
            <!-- CONTENT -->
            <div class="content">
                <form name="form" id="form" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="{{ 'DATOS' | translate }}" *ngIf="!!form">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutGap="20px grid">
                                    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">

                                            <pixvs-mat-select required #localidadOrigenControl [matSelectCtrl]="form.get('localidadOrigen')" [datos]="listadoLocalidadesOrigen" [appearance]="'outline'" [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" [campoValor]="['almacen.codigoAlmacen', 'almacen.nombre']"
                                                [label]="'ALMACEN_ORIGEN' | translate" fxFlex="3 0 auto">
                                            </pixvs-mat-select>

                                            <pixvs-mat-select required #localidadCEDISSelect [matSelectCtrl]="form.get('localidadCEDIS')" [datos]="listadoLocalidadesCEDIS" [appearance]="'outline'" [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" [campoValor]="['almacen.codigoAlmacen', 'almacen.nombre']"
                                                [label]="'ALMACEN_CEDIS' | translate" fxFlex="3 0 auto">
                                            </pixvs-mat-select>

                                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                                <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                    <mat-label>{{ 'FECHA' | translate }}</mat-label>
                                                    <input matInput type="date" name="fecha" formControlName="fecha" [max]="fechaActual" required>
                                                    <mat-error *ngIf="(!!form.get('fecha').errors)">
                                                        {{validatorService.getMessage(form.get('fecha'))}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">

                                            <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>{{ 'COMENTARIO' | translate }}</mat-label>
                                                <input matInput name="comentario" formControlName="comentario">
                                                <mat-error *ngIf="(!!form.get('comentario').errors)">
                                                    {{validatorService.getMessage(form.get('comentario'))}}
                                                </mat-error>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div fxlayout="row" fxlayoutalign="start center" class="pb-4 mx-28" style="display: flex; border-bottom: solid 1px lightgray;">
                                <mat-icon role="img" class="mat-icon mr-16 secondary-text" aria-hidden="true" data-mat-icon-type="font">free_breakfast</mat-icon>
                                <div class="h2 secondary-text ng-tns-c345-79">Artículos</div>
                            </div>

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <button mat-mini-fab class="btn-nuevo" (click)="agregarArticulo()" [disabled]="form.disabled || !form.get('localidadOrigen').value">
                                    <mat-icon>add</mat-icon>
                                </button>

                                <div fxLayout="row" fxLayoutAlign="space-between start" class="h-100-p" *ngIf="tablaArticulos.length > 0">
                                    <div fxFlex="100" class="h-100-p">
                                        <pixvs-tabla-simple *ngIf="tablaArticulos.length > 0" [service]="_detalleService" [localeEN]="localeEN" [localeES]="localeES" [columnas]="columnasTabla" [columnasFechas]="columnasFechas" [displayedColumns]="displayedColumns" [reordenamiento]="false" [columnaId]="'articuloId'"
                                            [listadoAcciones]="listadoAccionesArticulos" (onSeleccionarRegistro)="onEditar($event)" (onIconoInfo)="onIconoInfo($event)"></pixvs-tabla-simple>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Movimientos" *ngIf="movimientos?.length">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-table fxFlex="fill" [dataSource]="dataSourceMovimientos" matSort [@animateStagger]="{value:'50'}" id="tableMovimientos" fusePerfectScrollbar>
                                    <ng-container matColumnDef="fecha">
                                        <mat-header-cell *matHeaderCellDef> Fecha y hora </mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.fecha | date:'dd/MM/yyyy hh:mm a' }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="codigoArticulo">
                                        <mat-header-cell *matHeaderCellDef> Código artículo </mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.codigoArticulo }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="nombreArticulo">
                                        <mat-header-cell *matHeaderCellDef> Nombre artículo </mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.nombreArticulo }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="um">
                                        <mat-header-cell *matHeaderCellDef> UM </mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.um }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="cantidadPedida">
                                        <mat-header-cell *matHeaderCellDef> Cantidad Pedida</mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.cantidadPedida }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="cantidadRecibida">
                                        <mat-header-cell *matHeaderCellDef> Cantidad Recibida</mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.cantidadRecibida }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="cantidadAjuste">
                                        <mat-header-cell *matHeaderCellDef> Cantidad Ajuste</mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.cantidadAjuste }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="almacen">
                                        <mat-header-cell *matHeaderCellDef> Almacén </mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.almacen }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="usuario">
                                        <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
                                        <mat-cell *matCellDef="let movimiento"> {{ movimiento.usuario }} </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumnsMovimientos; sticky:true"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsMovimientos;"></mat-row>
                                </mat-table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>