@import "@fuse/scss/fuse";

#ficha-cliente {
	.btn-nuevo{
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 200;
	}

	.clickable{
		cursor: pointer;
		&:hover{
			background-color: #F0F0F0;
		}
	}
}