<div id="ficha-tabulador" class="pixvs-theme-listado page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <ficha-crud *ngIf="config" [config]="config" [isGuardadoPersonalizado]="true" (output)="guardar()"
            [mostrarBorrar]="precioIncompany?.estatus?.id == 2001000" [mostrarEditar]="precioIncompany?.estatus?.id == 2001000" [titulo]="titulo"
            [subTituloTraduccion]="pageType" [form]="form" [currentId]="currentId" [pageType]="pageType"
            [dataService]="_precioIncompanyService" class="header accent" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center"  (outputDesHabilitarCampos)="deshabilitarCampos()" [isDesHabilitarPersonalizado]="true">
        </ficha-crud>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-progress-bar *ngIf="_precioIncompanyService?.cargando" [color]="'primary'" [mode]="'query'">
            </mat-progress-bar>

            <div style="height: 0px;">
                <button debounceClick mat-mini-fab class="boton-refresh" (debounceClick)="recargar()"
                    matTooltip="{{ 'INTERFAZ.RECARGAR' | translate  }}">
                    <mat-icon class="s-16">refresh</mat-icon>
                </button>
            </div>

            <!-- CONTENT -->
            <div class="content">
                <form focusInvalidInput name="form" id="form" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Datos Generales">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutGap="20px grid">
                                    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                            <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>Código</mat-label>
                                                <input type="text" matInput name="codigo" formControlName="codigo"
                                                    required="{{ isRequired('codigo', form) }}">
                                                <mat-error *ngIf="(!!form.get('codigo').errors)">
                                                    {{validatorService.getMessage(form.get('codigo'))}}
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>Nombre</mat-label>
                                                <input type="text" matInput name="nombre" formControlName="nombre"
                                                    required="{{ isRequired('nombre', form) }}">
                                                <mat-error *ngIf="(!!form.get('nombre').errors)">
                                                    {{validatorService.getMessage(form.get('nombre'))}}
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 calc(16% - 10px)" [ngStyle]="{'pointer-events': form?.get('indeterminado').value == true ? 'none' : ''}">
                                                <mat-label>Fecha Inicio</mat-label>
                                                <input matInput type="date" name="fechaInicio" formControlName="fechaInicio">
                                                <mat-error *ngIf="(!!form.get('fechaInicio').errors)">
                                                    {{validatorService.getMessage(form.get('fechaInicio'))}}
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 calc(16% - 10px)" [ngStyle]="{'pointer-events': form?.get('indeterminado').value == true ? 'none' : ''}">
                                                <mat-label>Fecha Fin</mat-label>
                                                <input matInput type="date" name="fechaFin" formControlName="fechaFin">
                                                <mat-error *ngIf="(!!form.get('fechaFin').errors)">
                                                    {{validatorService.getMessage(form.get('fechaFin'))}}
                                                </mat-error>
                                            </mat-form-field>

                                            <div fxLayout="row" fxLayoutAlign="center center" class="mb-20">
                                                <mat-checkbox color="primary" name="indeterminado" formControlName="indeterminado">
                                                    Indeterminado
                                                </mat-checkbox>
                                            </div>
                                        </div>

                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid" [ngStyle]="{'pointer-events': (!deshabilitarBotones) ? 'none' : ''}">
                                            <mat-label>Sedes*</mat-label>
                                            <pixvs-mat-chip-autocomplete [datos]="sucursales" [label]="'Agregar sede...'" [matCtrl]="form.get('sucursalesControl')" [required]="isRequired('sucursalesControl', form)" [selectedElements]="form.get('sucursalesControl').value" [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" style="width: 100%"></pixvs-mat-chip-autocomplete>
                                        </div>
										

                                        

                                        <div class="w-100-p" fxLayout="row">
                                            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
                                                <div fxLayout="row" fxLayoutAlign="start center" class="divisor" style="width:100%">
                                                    <mat-icon class="m-0 mr-16 secondary-text">local_atm</mat-icon>
                                                    <div class="h2 secondary-text">Precio Venta Zona</div>
                                                </div>

                                                <table style="width:100%" mat-table [dataSource]="detalles.value">
                                                    <!-- ZONA -->
                                                    <ng-container matColumnDef="zona">
                                                        <th mat-header-cell *matHeaderCellDef> ZONA </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.zona?.valor}} </td>
                                                    </ng-container>

                                                    <!-- PRECIO -->
                                                    <ng-container matColumnDef="precio">
                                                        <th mat-header-cell *matHeaderCellDef> PRECIO </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.precioVenta | currency}} </td>
                                                    </ng-container>

                                                    <!-- PORCENTAJE TRANSPORTE -->
                                                    <ng-container matColumnDef="transporte">
                                                        <th mat-header-cell *matHeaderCellDef> PORCENTAJE TRANSPORTE </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.porcentajeTransporte+'%'}} </td>
                                                    </ng-container>

                                                    <!-- IDIOMA -->
                                                    <ng-container matColumnDef="idioma">
                                                        <th mat-header-cell *matHeaderCellDef> IDIOMA </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.idioma?.valor}} </td>
                                                    </ng-container>

                                                    <!-- PROGRAMA -->
                                                    <ng-container matColumnDef="programa">
                                                        <th mat-header-cell *matHeaderCellDef> PROGRAMA </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.programa?.nombre}} </td>
                                                    </ng-container>

                                                    <!-- MODALIDAD -->
                                                    <ng-container matColumnDef="modalidad">
                                                        <th mat-header-cell *matHeaderCellDef> MODALIDAD </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.modalidad?.nombre}} </td>
                                                    </ng-container>

                                                    <!-- HORARIO -->
                                                    <ng-container matColumnDef="horario">
                                                        <th mat-header-cell *matHeaderCellDef> HORARIO </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.horario?.nombre}} </td>
                                                    </ng-container>

                                                    
                                                    <ng-container matColumnDef="acciones">
                                                        <th mat-header-cell *matHeaderCellDef> 
                                                            <button mat-fab color="primary" (click)="abrirModalCategoria()" [disabled]="!form?.enabled" type="button">
                                                                <mat-icon>add</mat-icon>
                                                            </button> 
                                                        </th>
                                                        <td mat-cell *matCellDef="let element; let i = index"> 
                                                            <button mat-icon-button color="primary" (click)="borrarCategoria(i)" [disabled]="!form?.enabled" type="button">
                                                                <mat-icon>delete</mat-icon>
                                                            </button>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="!row.activo"></tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>