
<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span class="title dialog-title" style="text-align: center;width: 100%">{{ esNuevo ? 'Nuevo registro' : 'Editar registro' }}</span>
	</mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
	<div class="tab-content p-24" fusePerfectScrollbar>
        <div fxLayout="row wrap" fxLayoutGap="20px grid">
            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        		<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
    				<form focusInvalidInput name="criterioForm" id="criterioForm" [formGroup]="criterioForm" class="product w-100-p" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
    					<div class="tab-content p-24" fusePerfectScrollbar>
                            <div fxLayout="row wrap" fxLayoutGap="20px grid">
            					<pixvs-mat-select [matSelectCtrl]="criterioForm.get('actividadEvaluacion')" [datos]="listaActividadEvaluacion"
                                    [appearance]="'outline'"
                                    [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                                    [campoValor]="'actividad'" [label]="'Actividad'" [isDisabled]="!esNuevo"
                                    fxFlex="1 0 auto">
                                </pixvs-mat-select>
                                <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                	<mat-label>Modalidad</mat-label>
                                    <input type="text" matInput [value]="criterioForm.get('modalidad').value.nombre"  [readonly]="true">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                            	<mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                    <mat-label>Score</mat-label>
                                    <input type="number" matInput name="score" formControlName="score">
                                    <mat-error *ngIf="(!!criterioForm.get('score').errors)">
                                        {{_validatorService.getMessage(criterioForm.get('score'))}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                    <mat-label>Time</mat-label>
                                    <input type="number" matInput name="time" formControlName="time">
                                    <mat-error *ngIf="(!!criterioForm.get('time').errors)">
                                        {{_validatorService.getMessage(criterioForm.get('time'))}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                            	<pixvs-mat-select [matSelectCtrl]="criterioForm.get('testFormat')" [datos]="testFormats"
                                    [appearance]="'outline'"
                                    [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                                    [campoValor]="'valor'" [label]="'Test'"
                                    fxFlex="1 0 auto">
                                </pixvs-mat-select>
                                <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 calc(16% - 10px)">
                                    <mat-label>Fecha de aplicación</mat-label>
                                    <input matInput type="date" name="fechaAplica" formControlName="fechaAplica">
                                </mat-form-field>
                            </div>
                        </div>
    				</form>
        		</div>

            </div>

        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
	<button
		mat-button
		(click)="cancelar()"
	>Cerrar</button>
	<button
		mat-raised-button class="mat-accent mr-16"
		(click)="aceptar()"
	>Aceptar</button>
</div>