@import "@fuse/scss/fuse";

.ficha-cards {

    .content {

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .card {
                margin-bottom: 20px;
                width: 220px;
                height: 250px;
                min-width: 180px;
                min-height: 180px;
                cursor: pointer;
            }
        }
    }
}