
<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span class="title dialog-title" style="text-align: center;width: 100%">{{'Nivel '+titulo}}</span>
	</mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
	<div class="tab-content p-24" fusePerfectScrollbar>
        <div fxLayout="row wrap" fxLayoutGap="20px grid">
        	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        		<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
	        		<pixvs-mat-select [matSelectCtrl]="testControl" [datos]="test"
	                [appearance]="'outline'"
	                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
	                [campoValor]="'actividad'" [label]="'Tests'"
	                fxFlex="1 0 auto">
	                </pixvs-mat-select>
	                <pixvs-mat-select [matSelectCtrl]="testFormatControl" [datos]="testFormat"
	                [appearance]="'outline'"
	                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
	                [campoValor]="'valor'" [label]="'Test Format'"
	                fxFlex="1 0 auto">
	                </pixvs-mat-select>
            	</div>
        	</div>
            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
            	<pixvs-mat-select [matSelectCtrl]="modalidadControl" [datos]="modalidades"
                [appearance]="'outline'"
                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                [campoValor]="'modalidad.nombre'" [label]="'Modalidades'"
                fxFlex="1 0 auto" [multiple]="true">
                </pixvs-mat-select>
            </div>
            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
            	<mat-accordion>
            		<mat-expansion-panel [expanded]="false" [@.disabled]="true">
	            		<mat-expansion-panel-header>
		            		<mat-panel-title>
		            			<span><b>Días aplica</b></span>
		            		</mat-panel-title>
	            		</mat-expansion-panel-header>
	            			<ng-container *ngFor="let formModalidad of examenModalidadForm?.controls; let i = index;">
	            				<form focusInvalidInput name="formModalidad{{i}}" id="formModalidad{{i}}" [formGroup]="formModalidad" style="display: table;">
									
                            		<div style="width: 20%"></div>	
	            					<span style="width: 15%;margin-right: 15%; display: flex; align-items: center; justify-content: center;">{{formModalidad.get('modalidad').value.nombre}}</span>
            						<mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
	                                    <mat-label>Dias</mat-label>
	                                    <input type="text" matInput name="dias" formControlName="dias">
	                                </mat-form-field>
			                               
			                                
	            				</form>
	            			</ng-container>
            		</mat-expansion-panel>
            	</mat-accordion>
            </div>

            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
            	<mat-accordion>
            		<mat-expansion-panel [expanded]="false" [@.disabled]="true">
	            		<mat-expansion-panel-header>
		            		<mat-panel-title>
		            			<span><b>Unidades</b></span>
		            		</mat-panel-title>
	            		</mat-expansion-panel-header>
	            		<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
	            			<ng-container *ngFor="let formNivel of examenUnidadForm.controls; let i=index">
	            				<form focusInvalidInput name="formNivel" id="formNivel{{i}}" [formGroup]="formNivel" style="display: table; width: 100%">
	            					<!--<div class="tab-content p-24" fusePerfectScrollbar>
	                                    <div fxLayout="row wrap" fxLayoutGap="20px grid">
			            					<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-md="33" style="display: flex; justify-content: center; align-items: center;">
			            						<span>{{'Nivel '+formNivel.get('nivel').value}}</span>
			            					</div>
			            					<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-md="33" style="display: flex; justify-content: center; align-items: center;">
			            						<span>{{formNivel.get('articulo').value.nombreArticulo}}</span>
			            					</div>
			            					<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-md="33">
			            						<mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
				                                    <mat-label>Unidad</mat-label>
				                                    <input type="text" matInput name="descripcion" formControlName="descripcion">
				                                </mat-form-field>
			            					</div>
			            					
			                            </div>
			                        </div>-->
	            					<span style="width: 15%;margin-right: 15%; display: flex; align-items: center; justify-content: center;">{{'Nivel '+formNivel.get('nivel').value}}</span>
	            					<span style="width: 15%;margin-right: 15%; display: flex; align-items: center; justify-content: center;">{{formNivel.get('articulo').value.nombreArticulo}}</span>
	            					<mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
	                                    <mat-label>Unidad</mat-label>
	                                    <input type="text" matInput name="descripcion" formControlName="descripcion">
	                                </mat-form-field>
	            				</form>
	            			</ng-container>
	            		</div>
            		</mat-expansion-panel>
            	</mat-accordion>
            </div>
            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
            	<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
            		<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="40">
						<mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                            <mat-label>Score</mat-label>
                            <input type="text" matInput name="score" id="score" [(ngModel)]="score" pattern="\d*"
                            min="1" step="1">
                        </mat-form-field>
					</div>
					<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="40" fxFlex.gt-md="40">
						<mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                            <mat-label>Time</mat-label>
                            <input type="text" matInput name="time" id="time" [(ngModel)]="time" pattern="\d*"
                            min="1" step="1" [readonly]="continuos"><span matSuffix>Minuto(s)</span>
                        </mat-form-field>
					</div>
					<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="20" fxFlex.gt-md="20">
						<mat-checkbox color="primary" name="continuos" [(ngModel)]="continuos" (click)="time=0">
                            Continuous
                        </mat-checkbox>
					</div>
            	</div>
            </div>

        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
	<button
		mat-button
		(click)="cancelar()"
	>Cerrar</button>
	<button
		mat-raised-button class="mat-accent mr-16"
		(click)="aceptar()"
	>Aceptar</button>
</div>