<div class="w-100-p h-100-p" fxLayout="column">
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button fxFlex="48" class="h-100-p">200</button>
        <button mat-raised-button fxFlex="48" class="h-100-p">500</button>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center" class="pt-12">
        <button mat-raised-button fxFlex="31" class="h-100-p">7</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">8</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">9</button>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center" class="pt-12">
        <button mat-raised-button fxFlex="31" class="h-100-p">4</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">5</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">6</button>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center" class="pt-12">
        <button mat-raised-button fxFlex="31" class="h-100-p">1</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">2</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">3</button>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center" class="pt-12">
        <button mat-raised-button fxFlex="31" class="h-100-p">.</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">0</button>
        <button mat-raised-button fxFlex="31" class="h-100-p">
            <mat-icon class="lg">backspace</mat-icon>
        </button>
    </div>
</div>