<div id="home" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center"
        [@animate]="{value:'*',params:{delay:'500ms', x:'-200px'}}">

 
        <div class="hero-text">
            <h2>

                <div class="middle">

                    <h1>{{'HOME.WELCOME' | translate}}</h1>
                    <hr>
                    <p><img width="300" src="app/main/img/logos/logo.png"></p>
                    
                </div>
        
            </h2>
        </div>


    </div>
    <!-- / HEADER -->

</div>