<div id="ficha-CRUD" class="pixvs-theme-listado page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <ficha-crud *ngIf="config" [config]="config" [cargando]="_rolService?.cargando" [isGuardadoPersonalizado]="true"
            (output)="guardar()" [mostrarBorrar]="false" [mostrarEditar]="false" [titulo]="titulo"
            [subTituloTraduccion]="pageType == 'nuevo' ? pageType : null" [form]="form" [currentId]="currentId" [pageType]="pageType"
            [dataService]="_rolService" class="header accent" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
        </ficha-crud>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-progress-bar *ngIf="_ajusteInventarioService?.cargando" [color]="'primary'" [mode]="'query'">
            </mat-progress-bar>
            <!-- CONTENT -->
            <div class="content">
                <form name="form" id="form" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="{{ 'DATOS' | translate }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutGap="20px grid">
                                    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                            <pixvs-mat-select required
                                                [matSelectCtrl]="articuloControl" 
                                                [datos]="listadoArticulos" 
                                                [appearance]="'outline'"
                                                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" 
                                                [campoValor]="['codigoArticulo', 'nombreArticulo']"
                                                [label]="'ARTICULO' | translate"
                                                fxFlex="3 0 auto">
                                            </pixvs-mat-select>                                            
                                        </div>

                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                            <pixvs-mat-select required
                                                [matSelectCtrl]="almacenControl" 
                                                [datos]="listadoAlmacenes" 
                                                [appearance]="'outline'"
                                                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" 
                                                [campoValor]="['codigoAlmacen', 'nombre']"
                                                [label]="'ALMACEN' | translate"
                                                fxFlex="3 0 auto">
                                            </pixvs-mat-select>

                                            <pixvs-mat-select *ngIf="listadoLocalidades.length > 0" required
                                                #localidadSelect
                                                [matSelectCtrl]="localidadControl" 
                                                [datos]="listadoLocalidades" 
                                                [appearance]="'outline'"
                                                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" 
                                                [campoValor]="['codigoLocalidad', 'nombre']"
                                                [label]="'LOCALIDAD' | translate"
                                                fxFlex="3 0 auto">
                                            </pixvs-mat-select>
                                        </div>

                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                            <pixvs-mat-select *ngIf="pageType != 'ver'" required
                                                [matSelectCtrl]="motivoControl" 
                                                [datos]="listadoMotivos" 
                                                [appearance]="'outline'"
                                                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate" 
                                                [campoValor]="'valor'"
                                                [label]="'MOTIVO' | translate"
                                                fxFlex="3 0 auto">
                                            </pixvs-mat-select>

                                            <mat-form-field *ngIf="pageType == 'ver'" appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>{{ 'MOTIVO' | translate }}</mat-label>
                                                <textarea matInput name="motivoAjuste" formControlName="motivoAjuste"></textarea>
                                                <mat-error *ngIf="(!!form.get('motivoAjuste').errors)">
                                                    {{validatorService.getMessage(form.get('motivoAjuste'))}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                            <pixvs-mat-select *ngIf="pageType != 'ver'" required
                                                [matSelectCtrl]="operacionControl" 
                                                [datos]="listadoOperaciones" 
                                                [appearance]="'outline'"
                                                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                                                [campoValor]="'valor'"
                                                [label]="'OPERACION' | translate"
                                                fxFlex="3 0 auto">
                                            </pixvs-mat-select>

                                            <mat-form-field *ngIf="pageType != 'ver'" appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>{{ 'CANTIDAD' | translate }}</mat-label>
                                                <input matInput [formControl]="cantidadControl" mask="separator.4" thousandSeparator="," required>
                                                <mat-error *ngIf="(!!cantidadControl.errors)">
                                                    {{validatorService.getMessage(cantidadControl)}}
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field *ngIf="pageType == 'ver'" appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>{{ 'CANTIDAD' | translate }}</mat-label>
                                                <input matInput [formControl]="cantidadControl" thousandSeparator="," required>
                                                <mat-error *ngIf="(!!cantidadControl.errors)">
                                                    {{validatorService.getMessage(cantidadControl)}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div *ngIf="pageType != 'ver'" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                            <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                <mat-label>{{ 'COMENTARIO' | translate }}</mat-label>
                                                <textarea  matInput name="comentario" formControlName="comentario"></textarea>
                                                <mat-error *ngIf="(!!form.get('comentario').errors)">
                                                    {{validatorService.getMessage(form.get('comentario'))}}
                                                </mat-error>
                                            </mat-form-field>                                            
                                        </div>
                                    </div>

                                    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                        <mat-card fxLayout="column">
                                            <mat-card-header>
                                                <mat-card-title>
                                                    <p><strong>{{ ('FECHA' | translate) + ': ' }}</strong> {{ fechaAjuste }}</p>
                                                </mat-card-title>
                                                <mat-card-subtitle fxLayoutAlign="start">
                                                </mat-card-subtitle>
                                            </mat-card-header>

                                            <mat-card-content class="h-100-p">
                                                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                                    <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                        <mat-label>{{ 'UM' | translate }}</mat-label>
                                                        <input matInput name="um" formControlName="um" disabled>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                        <mat-label>{{ pageType != 'ver' ? ('COSTO_ULTIMO' | translate) : ('COSTO_MOVIMIENTO' | translate) }}</mat-label>
                                                        <input matInput name="costo" formControlName="costo" disabled>
                                                    </mat-form-field>
                                                </div>

                                                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid">
                                                    <mat-form-field *ngIf="pageType != 'ver'" appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                        <mat-label>{{ 'EXISTENCIA' | translate }}</mat-label>
                                                        <input matInput name="existencia" formControlName="existencia" disabled>                                                        
                                                    </mat-form-field>

                                                    <mat-form-field *ngIf="pageType != 'ver'" appearance="outline" floatLabel="auto" fxFlex="1 0 auto">
                                                        <mat-label>{{ 'EXISTENCIA_FINAL' | translate }}</mat-label>
                                                        <input matInput name="existenciaFinal" formControlName="existenciaFinal" disabled>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>