// -----------------------------------------------------------------------------------------------------
// @ Custom color maps for Fuse
// -----------------------------------------------------------------------------------------------------
$fuse-white: (
    500: white,
    contrast: (
        500: $dark-primary-text
    )
);

$fuse-black: (
    500: black,
    contrast: (
        500: $light-primary-text,
    )
);

$fuse-navy: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #3C4252,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

// Generate Fuse color classes for custom palettes
$custom_palettes: (
    fuse-white: $fuse-white,
    fuse-black: $fuse-black,
    fuse-navy: $fuse-navy
);

@include fuse-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600),
    $input: mat-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
@import "src/app/layout/components/chat-panel/chat-panel.theme";
@import "src/app/layout/components/toolbar/toolbar.theme";

@import "src/@pixvs/componentes/stepper/vertical/stepper.theme";

@import "src/@pixvs/modulos/acceso/login/login.theme";
@import "src/@pixvs/modulos/sistema/perfil/perfil.theme";
@import "src/@pixvs/modulos/acceso/register/register.theme";
@import "src/@pixvs/modulos/acceso/reset-password/reset-password.theme";
@import "src/@pixvs/modulos/acceso/forgot-password/forgot-password.theme";
@import "src/@pixvs/modulos/acceso/lock/lock.theme";
@import "src/@pixvs/modulos/acceso/mail-confirm/mail-confirm.theme";
@import "src/@pixvs/modulos/acceso/verification/verification.theme";
@import "src/@pixvs/modulos/sistema/coming-soon/coming-soon.theme";
@import "src/@pixvs/modulos/sistema/errors/404/error-404.theme";
@import "src/@pixvs/modulos/sistema/errors/500/error-500.theme";
@import "src/@pixvs/modulos/sistema/maintenance/maintenance.theme";
@import "src/@pixvs/modulos/sistema/perfil/tabs/about/about.theme";

@import "@pixvs/scss/pixvs.theme";

// Define a mixin for easier access
@mixin components-theme($theme) {

    // Layout components
    @include chat-panel-theme($theme);
    @include toolbar-theme($theme);

    // General components
    @include pixvs-stepper-vertical-theme($theme);

    // Acceso
    @include login-theme($theme);
    @include perfil-theme($theme);
    @include register-theme($theme);
    @include reset-password-theme($theme);
    @include forgot-password-theme($theme);
    @include lock-theme($theme);
    @include mail-confirm-theme($theme);
    @include coming-soon-theme($theme);
    @include error-404-theme($theme);
    @include error-500-theme($theme);
    @include maintenance-theme($theme);
    @include perfil-about-theme($theme);
    @include verification-theme($theme);

    // PIXVS
    @include pixvs-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define the blue-light default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($mat-light-blue, 800, 100, 600);
$default-accent-palette: mat-palette($mat-light-blue, 600, 400, 700);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-light {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($theme);

    // Apply the theme to the user components
    @include components-theme($theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette
    );

    @include fuse-color-classes($palettes);
}


// -----------------------------------------------------------------------------------------------------
// @ Define the indigo theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($mat-indigo, 800, 100, 600);
$default-accent-palette: mat-palette($mat-indigo, 600, 400, 700);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-indigo {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($theme);

    // Apply the theme to the user components
    @include components-theme($theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a deep-orange light theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$deep-orange-light-theme-primary-palette: mat-palette($mat-deep-orange, 800, 100, 600);
$deep-orange-light-theme-accent-palette: mat-palette($mat-deep-orange, 600, 400, 700);
$deep-orange-light-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$deep-orange-light-theme: mat-light-theme($deep-orange-light-theme-primary-palette, $deep-orange-light-theme-accent-palette, $deep-orange-light-theme-warn-palette);

// Add ".theme-deep-orange-light" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-deep-orange-light {

    // Generate the Angular Material theme
    @include angular-material-theme($deep-orange-light-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($deep-orange-light-theme);

    // Apply the theme to the user components
    @include components-theme($deep-orange-light-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $deep-orange-light-theme-primary-palette,
        accent: $deep-orange-light-theme-accent-palette,
        warn: $deep-orange-light-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-theme-primary-palette: mat-palette($mat-blue, 800, 100, 600);
$blue-theme-accent-palette: mat-palette($mat-blue, 700, 400, 700);
$blue-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-theme: mat-light-theme($blue-theme-primary-palette, $blue-theme-accent-palette, $blue-theme-warn-palette);

// Add ".theme-blue" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($blue-theme);

    // Apply the theme to the user components
    @include components-theme($blue-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-theme-primary-palette,
        accent: $blue-theme-accent-palette,
        warn: $blue-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue-gray dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-gray-dark-theme-primary-palette: mat-palette($mat-blue);
$blue-gray-dark-theme-accent-palette: mat-palette($mat-blue-gray);
$blue-gray-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-gray-dark-theme: mat-dark-theme($blue-gray-dark-theme-primary-palette, $blue-gray-dark-theme-accent-palette, $blue-gray-dark-theme-warn-palette);

// Add ".theme-blue-gray-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-gray-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-gray-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($blue-gray-dark-theme);

    // Apply the theme to the user components
    @include components-theme($blue-gray-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-gray-dark-theme-primary-palette,
        accent: $blue-gray-dark-theme-accent-palette,
        warn: $blue-gray-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-dark-theme-primary-palette: mat-palette($fuse-navy);
$blue-dark-theme-accent-palette: mat-palette($fuse-navy);
$blue-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-dark-theme: mat-dark-theme($blue-dark-theme-primary-palette, $blue-dark-theme-accent-palette, $blue-dark-theme-warn-palette);

// Add ".theme-blue-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($blue-dark-theme);

    // Apply the theme to the user components
    @include components-theme($blue-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-dark-theme-primary-palette,
        accent: $blue-dark-theme-accent-palette,
        warn: $blue-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}


// -----------------------------------------------------------------------------------------------------
// @ Define a red light theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$red-light-theme-primary-palette: mat-palette($mat-red, 800, 100, 600);
$red-light-theme-accent-palette: mat-palette($mat-red, 600, 400, 700);
$red-light-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$red-light-theme: mat-light-theme($red-light-theme-primary-palette, $red-light-theme-accent-palette, $red-light-theme-warn-palette);

// Add ".theme-red-light" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-red-light {

    // Generate the Angular Material theme
    @include angular-material-theme($red-light-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($red-light-theme);

    // Apply the theme to the user components
    @include components-theme($red-light-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $red-light-theme-primary-palette,
        accent: $red-light-theme-accent-palette,
        warn: $red-light-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}



// -----------------------------------------------------------------------------------------------------
// @ Define a green light theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$green-light-theme-primary-palette: mat-palette($mat-teal, 800, 100, 600);
$green-light-theme-accent-palette: mat-palette($mat-teal, 600, 400, 700);
$green-light-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$green-light-theme: mat-light-theme($green-light-theme-primary-palette, $green-light-theme-accent-palette, $green-light-theme-warn-palette);

// Add ".theme-green-light" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-green-light {

    // Generate the Angular Material theme
    @include angular-material-theme($green-light-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($green-light-theme);

    // Apply the theme to the user components
    @include components-theme($green-light-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $green-light-theme-primary-palette,
        accent: $green-light-theme-accent-palette,
        warn: $green-light-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}


// -----------------------------------------------------------------------------------------------------
// @ Define a green light theme 2
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$green-light-theme-2-primary-palette: mat-palette($mat-light-green, 800, 100, 600);
$green-light-theme-2-accent-palette: mat-palette($mat-light-green, 700, 400, 700);
$green-light-theme-2-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$green-light-theme-2: mat-light-theme($green-light-theme-2-primary-palette, $green-light-theme-2-accent-palette, $green-light-theme-2-warn-palette);

// Add ".theme-green-light-2" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-green-light-2 {

    // Generate the Angular Material theme
    @include angular-material-theme($green-light-theme-2);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($green-light-theme-2);

    // Apply the theme to the user components
    @include components-theme($green-light-theme-2);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $green-light-theme-2-primary-palette,
        accent: $green-light-theme-2-accent-palette,
        warn: $green-light-theme-2-warn-palette
    );

    @include fuse-color-classes($palettes);
}


// -----------------------------------------------------------------------------------------------------
// @ Define a pink light theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$pink-light-theme-primary-palette: mat-palette($mat-pink, 800, 100, 600);
$pink-light-theme-accent-palette: mat-palette($mat-pink, 600, 400, 700);
$pink-light-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$pink-light-theme: mat-light-theme($pink-light-theme-primary-palette, $pink-light-theme-accent-palette, $pink-light-theme-warn-palette);

// Add ".theme-pink-light" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-pink-light {

    // Generate the Angular Material theme
    @include angular-material-theme($pink-light-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($pink-light-theme);

    // Apply the theme to the user components
    @include components-theme($pink-light-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $pink-light-theme-primary-palette,
        accent: $pink-light-theme-accent-palette,
        warn: $pink-light-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// Define the primary, accent and warn palettes
$blue-dark-theme-primary-palette: mat-palette($mat-light-blue, 100, 100, 600);
$blue-dark-theme-accent-palette: mat-palette($mat-blue-grey, 900,400, 700);
$blue-dark-theme-warn-palette: mat-palette($mat-blue-grey);

// Create the Material theme object
$blue-dark-theme: mat-light-theme($blue-dark-theme-primary-palette, $blue-dark-theme-accent-palette, $blue-dark-theme-warn-palette);

// Add ".blue-dark-theme" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($blue-dark-theme);

    // Apply the theme to the user components
    @include components-theme($blue-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-dark-theme-primary-palette,
        accent: $blue-dark-theme-accent-palette,
        warn: $blue-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

angular-editor-toolbar button i {
    font-family: FontAwesome !important;
    color: #474d6d !important;
    
}

angular-editor-toolbar ae-select{
    font-size: 20px
}

angular-editor-toolbar button{
    font-size: 20px
}
