<h1 mat-dialog-title>
	Seleccionar grupo
</h1>
<div mat-dialog-content class="font-size-20 pb-12">
    <div class="w-100-p" fxLayout="column">
        <div fxLayout="row">
            <mat-form-field
                appearance="outline"
                floatLabel="auto"
                fxFlex="1 0 auto"
            >
                <mat-label>Código</mat-label>
                <input
                    type="text"
                    matInput
                    [value]="inscripcionSinGrupo.alumnoCodigo"
                    readonly="true"
                >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field
                appearance="outline"
                floatLabel="auto"
                fxFlex="1 0 auto"
            >
                <mat-label>Nombre</mat-label>
                <input
                    type="text"
                    matInput
                    [value]="nombreAlumno"
                    readonly="true"
                >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field
                appearance="outline"
                floatLabel="auto"
                fxFlex="1 0 auto"
            >
                <mat-label>Curso</mat-label>
                <input
                    type="text"
                    matInput
                    [value]="inscripcionSinGrupo.curso"
                    readonly="true"
                >
            </mat-form-field>
            <mat-form-field
                appearance="outline"
                floatLabel="auto"
                fxFlex="1 0 auto"
            >
                <mat-label>Nivel</mat-label>
                <input
                    type="text"
                    matInput
                    [value]="inscripcionSinGrupo.nivel"
                    readonly="true"
                >
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field
                appearance="outline"
                floatLabel="auto"
                fxFlex="1 0 auto"
            >
                <mat-label>Modalidad</mat-label>
                <input
                    type="text"
                    matInput
                    [value]="inscripcionSinGrupo.paModalidadNombre"
                    readonly="true"
                >
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px grid">
            <pixvs-mat-select #selectModalidades [matSelectCtrl]="tipoGrupoControl" [datos]="tiposGrupo"
                [appearance]="'outline'"
                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                [campoValor]="'valor'" [label]="'Tipo de grupo'"
                [incluirItemVacio]="false"
                [required]="true" fxFlex="1 0 auto">
            </pixvs-mat-select>
        </div>
        <div fxLayout="row" fxLayoutGap="10px grid" *ngIf="!!tipoGrupoControl?.value?.id && grupos?.length">
            <pixvs-mat-select #selectModalidades [matSelectCtrl]="grupoControl" [datos]="grupos"
                [appearance]="'outline'"
                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                [campoValor]="'codigo'" [label]="'Grupo'"
                [incluirItemVacio]="false"
                [required]="true" fxFlex="1 0 auto">
            </pixvs-mat-select>
        </div>
        <div *ngIf="!!localidadesSucursal?.length && localidadesSucursal.length > 1" fxLayout="row">
            <pixvs-mat-select [matSelectCtrl]="localidadControl" [datos]="localidadesSucursal"
                [appearance]="'outline'"
                [matError]="'ERRORES_CAPTURA.CAMPO_REQUERIDO' | translate"
                [campoValor]="'nombre'" [label]="'Localidad'"
                [required]="false" fxFlex="100">
            </pixvs-mat-select>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end" fxLayout="row" fxLayoutAlign="space-between center">
	<button
		mat-button
		(click)="cancelar()"
	>Cancelar</button>
	<button
		mat-raised-button
        class="mat-primary"
		(click)="onAceptar()"
	>
        Aceptar
    </button>
</div>