@import "@fuse/scss/fuse";

.sidebar-button {
    border: lightgray 1px solid;
    border-radius: 5px;
    position: absolute;
    left: -32px;
    margin-top: 50px;
    z-index: 9999;
}

#pixvs-listado {

	pixvs-buscador-amazon{
		pixvs-mat-select{
			span{
				color: rgba(0,0,0,0.87)
			}

			.mat-select-arrow{

			}

			mat-form-field{
				&.mat-focused{
					label.mat-form-field-label mat-label{
						color: rgb(2,119,189);
					}
					.mat-select-arrow{
						color: rgb(2,119,189);
					}
				}
				&:not(.mat-focused){
					label.mat-form-field-label mat-label{
						color: rgba(0,0,0,0.6);
					}
					.mat-select-arrow{
						color: rgba(0,0,0,0.6);
					}
				}

				.mat-form-field-wrapper{
					padding: 10px 0 0 0;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}

		input{
			color: black;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			height: 54px !important;
		}

		button.btn-buscar{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	
}

// pixvs-buscador-amazon{
// 	input.buscador{
// 		height: 55px !important;
// 	}
// }