@import "@fuse/scss/fuse";

#recibir-pedido {

	>.center {

		// Header
		>.header {
			height: 100px !important;
			min-height: 100px !important;
			max-height: 100px !important;
		}
	}

	.btn-nuevo{
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 200;
	}
}

.flex-40 {
	flex: 0 0 40%;
}