table.alumnos-repetidos-dialog-tabla-alumnos{
    width: 100%;

    thead{
        td{
            font-size: 1.25rem;
            font-weight: 900;
        }
    }

    tbody{
        td{
            font-size: 1.15rem !important;
        }
    }
}