<h1 mat-dialog-title>
	{{
		esNuevo
		? 'Nuevo registro'
		: 'Actualizar registro'
	}}
</h1>
<div mat-dialog-content>
	<pixvs-dynamic-components #camposDinamicos *ngIf="!!camposListado?.length" [regConfig]="camposListado | CamposPipe"></pixvs-dynamic-components>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		(click)="cancelar()"
	>Cancelar</button>
	<button *ngIf="!esNuevo"
		mat-button
		(click)="borrar()"
	>Borrar</button>
	<button
		mat-button
		(click)="aceptar()"
	>Aceptar</button>
</div>