<div mat-dialog-content>
	<div fxLayout="column" fxFlex>
		<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargandoComponentes && !articuloArbolComponentes">
			<mat-spinner [diameter]="50"></mat-spinner>
		</div>
		<ng-container *ngIf="!!articuloArbolComponentes">
			<div fxLayout="column" class="pb-20">
				<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargandoComponentes">
					<mat-spinner [diameter]="50"></mat-spinner>
				</div>
				<div fxLayout="row" fxLayoutAlign="start center" class="px-12 componentes-encabezado pb-8">
					<div fxFlex="fill">
						<span>Artículo</span>
					</div>
					<div fxFlex="15%">
						<span>Unidad de medida</span>
					</div>
					<div fxFlex="15%">
						<span>Cantidad paquete</span>
					</div>
					<div fxFlex="15%">
						<span>Existencia</span>
					</div>
					<div fxFlex="30px"></div>
				</div>
				<ng-container *ngFor="let componente of articuloArbolComponentes.componentes">
					<articulo-componente-nodo [componente]="componente"></articulo-componente-nodo>
				</ng-container>
			</div>
		</ng-container>
	</div>
</div>
<div mat-dialog-actions dir="rtl">
	<button mat-button (click)="aceptar()">{{ 'ACEPTAR' | translate }}</button>
</div>