@import "@fuse/scss/fuse";

.dialogo-verde{
    color: #4caf50 !important;
}

.dialogo-rojo{
    color: #ef5350 !important;
}

.background-verde{
    background-color: #4caf50 !important;
    color: white;
}

.background-rojo{
    background-color: #ef5350 !important;
    color: white;
}